{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'food/style.css' %}">
    <title>Cafe</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom shadow-sm py-3">
        <div class="container">
          <a class="navbar-brand fw-bold " href="{%url 'food:index' %}">☕ Cafe</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link btn btn-outline-blue rounded-pill px-4 mx-1" href="{% url 'food:create-item' %}">➕ Add</a>
              </li>

            {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link btn btn-outline-success rounded-pill px-4 mx-1" href="{% url 'logout' %}">👋Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                  <a class="nav-link btn btn-outline-success rounded-pill px-4 mx-1" href="{% url 'login' %}">🔑Login</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link btn btn-outline-blue rounded-pill px-4 mx-1" href="{% url 'profile' %}">👤Profile</a>
            </li>
            </ul>
          </div>
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block body %}
    {% endblock %}
</body>
</html>
